header {
  position: sticky;
  top: 0px;
  background: rgba(255, 255, 255, 0.43);
  backdrop-filter: blur(9.9px);
  -webkit-backdrop-filter: blur(9.9px);
  z-index: 1;
}

.menu {
  padding: 20px 0px;
}

.menu > ul {
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style-type: none;
}

.menuItem {
  text-decoration: none;
  margin-right: 20px;
  font-family: Lato;
  font-weight: 300;
}